<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.sams.dao.score.GroupManagementDao">

    <select id="queryGroupsByGroupIdAndExpIndex" parameterType="string" resultType="cn.sams.entity.Group">
        SELECT * FROM sams_group_score WHERE group_id = #{0} AND ex_index = #{1}
    </select>

    <select id="queryGroupScore" parameterType="string" resultType="cn.sams.entity.Group">
        SELECT * FROM sams_group_score t WHERE t.group_id = #{groupid} AND t.group_num = #{groupNum}
        AND t.ex_index = #{expindex}
    </select>

    <!--动态对字段进行赋值-->
    <update id="save" parameterType="java.util.Map" statementType="STATEMENT">
        <![CDATA[
        UPDATE sams_group_score SET ${datafield} = ${score}, score = ${result}
        WHERE group_id = ${groupId} AND group_num = ${groupNum} AND ex_index = ${exIndex}
        ]]>
    </update>

</mapper>
