<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.sams.dao.system.TermManagementDao">


    <select id="queryTerms" resultType="cn.sams.entity.Term">
        SELECT term_id, term_name FROM sams_term
    </select>

    <select id="queryTermByYearAndMonth" parameterType="string" resultType="cn.sams.entity.Term">
        SELECT * FROM sams_term WHERE term_year = #{0} AND term_month = #{1}
    </select>
</mapper>
