<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.sams.dao.system.ClassManagementDao">

    <select id="queryClasses" resultType="cn.sams.entity.Classes">
        SELECT * FROM sams_class
    </select>

    <select id="queryClassByClassId" parameterType="string" resultType="cn.sams.entity.Classes">
        SELECT * FROM sams_class WHERE class_id = #{0}
    </select>

    <insert id="insertClasses" parameterType="string">
        INSERT INTO sams_class VALUES (#{classId}, #{className})
    </insert>

    <select id="queryClassesByTeaId" resultType="java.util.HashMap" parameterType="string">
        SELECT
            m.class_id   AS clzId,
            m.class_name AS clzName
        FROM
            (
                SELECT t.class_id
                FROM sams_course t
                WHERE cou_tea_no = #{teaId}
            ) n
            LEFT JOIN
            sams_class m
                ON m.class_id = n.class_id
    </select>

    <select id="queryClassIdToListByTeaId" parameterType="string" resultType="string">
        SELECT t.class_id
        FROM sams_course t
        WHERE t.cou_tea_no = #{teaId}
    </select>

    <select id="queryClassesKVToMap" resultType="java.util.HashMap">
        SELECT
            t.class_id   AS clzId,
            t.class_name AS clzName
        FROM sams_class t
    </select>

    <select id="queryClassByClassName" parameterType="string" resultType="cn.sams.entity.Classes">
        SELECT *
        FROM sams_class
        WHERE class_name = #{className}
    </select>
</mapper>