<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.sams.dao.system.CourseDao">

    <select id="queryCourses" resultType="cn.sams.entity.Course">
        select * from sams_course
    </select>


    <select id="queryCourseInfo" resultType="cn.sams.entity.commons.CourseInfo">
        select * from sams_course_info
    </select>

    <select id="queryCourseInfoByCouId" parameterType="string" resultType="cn.sams.entity.commons.CourseInfo">
        select * from sams_course_info where course_id = #{0}
    </select>

    <select id="queryCoursesByCourseKey" parameterType="string" resultType="cn.sams.entity.Course">
        SELECT * FROM sams_course t WHERE t.course_id = #{key}
    </select>

    <select id="queryCoursePlaceById" parameterType="string" resultType="cn.sams.entity.commons.CourseClassPlace">
        SELECT * FROM sams_course_place WHERE place_id = #{0}
    </select>

    <select id="queryCoursesByCourseKeyAndWeek" parameterType="string" resultType="cn.sams.entity.Course">
        SELECT * FROM sams_course t WHERE t.course_id = #{0} AND t.cou_week = #{1}
    </select>

    <select id="queryCourse" parameterType="string" resultType="cn.sams.entity.Course">
        SELECT *
        FROM sams_course
        WHERE course_id = #{courseId} AND cou_term_id = #{termId} AND cou_tea_no = #{teaNo}
    </select>
</mapper>