<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.sams.dao.score.GroupInitManagementDao">


    <select id="queryCoursesByTeacherIdAndTerm" parameterType="string" resultType="cn.sams.entity.Course">
        SELECT * FROM sams_course t WHERE t.cou_tea_no = #{0} AND t.cou_term_id = #{1}
    </select>

    <select id="queryClasses" parameterType="string" resultType="cn.sams.entity.Classes">
        SELECT * FROM sams_course_class t WHERE t.tea_no = #{0} AND t.term_id = #{1} AND t.cou_no = #{2}
    </select>

    <select id="queryGroupsByGroupId" parameterType="string" resultType="cn.sams.entity.Group">
        SELECT * FROM sams_group t WHERE t.group_id = #{0}
    </select>

</mapper>
