<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.sams.dao.system.LoginDao">

    <select id="findTeacherByID" parameterType="String" resultType="cn.sams.entity.Teacher">
        SELECT * FROM sams_teacher WHERE tea_no = #{id}
    </select>

    <select id="login" resultType="cn.sams.entity.Teacher">
        SELECT * FROM sams_teacher WHERE binary tea_no = #{0} AND binary tea_password = #{1}
    </select>
</mapper>