<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.sams.dao.system.ResourcesDao">

    <update id="updatePwd" parameterType="string">
        UPDATE sams_teacher SET tea_password = #{1} WHERE tea_no = #{0}
    </update>

    <select id="findNav2ByPid" parameterType="string" resultType="cn.sams.entity.ResourcesPath">
        SELECT * FROM sams_path WHERE pid = #{0}
    </select>

    <select id="queryResources" resultType="cn.sams.entity.ResourcesPath">
        SELECT t.id, t.title, t.path, t.icon, t.plevel, t.pid FROM sams_path t
    </select>

    <select id="queryParentName" parameterType="string" resultType="string">
        SELECT t.title FROM sams_path t WHERE t.id = #{0}
    </select>

    <select id="queryNodeById" parameterType="string" resultType="cn.sams.entity.ResourcesPath">
        SELECT t.* FROM sams_path t WHERE t.id = #{0}
    </select>

    <insert id="save" parameterType="cn.sams.entity.ResourcesPath">
        INSERT INTO sams_path VALUES (#{id}, #{title}, #{path}, #{icon}, #{plevel}, #{pid})
    </insert>

    <update id="update" parameterType="cn.sams.entity.ResourcesPath">
        UPDATE sams_path t SET t.title = #{title}, t.path = #{path},
                               t.icon = #{icon}, t.plevel = #{plevel}, t.pid = #{pid}
                           WHERE t.id = #{id}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM sams_path WHERE id = #{0}
    </delete>
</mapper>
