<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.sams.dao.system.StudentManagementDao">

    <select id="queryStudents" resultType="cn.sams.entity.Student">
        SELECT * FROM sams_student
    </select>

    <select id="queryStudentsByClassId" resultType="cn.sams.entity.Student" parameterType="string">
        SELECT * FROM sams_student t WHERE t.stu_class_id = #{0}
    </select>

    <select id="queryStudentByStuId" parameterType="string" resultType="cn.sams.entity.Student">
        SELECT t.* FROM sams_student t WHERE t.stu_no = #{0}
    </select>

    <delete id="deleteStudentByStuId" parameterType="string">
        DELETE FROM sams_student
        WHERE stu_no = #{stuId}
    </delete>

    <insert id="save" parameterType="string">
        INSERT INTO sams_student VALUES (#{stuNo}, #{stuName}, #{gender}, #{classId})
    </insert>

    <update id="update" parameterType="string">
        UPDATE sams_student SET stu_name = #{stuName}, stu_gender = #{gender}, stu_class_id = #{classId}
        WHERE stu_no = #{stuNo}
    </update>

    <delete id="deleteStuByClassId" parameterType="string">
        DELETE FROM sams_student WHERE stu_class_id = #{classId}
    </delete>
</mapper>